body {
  font-family: sans-serif;
}

.header-block {
	color: black;
	font-size: large;
	margin-left: auto;
	margin-right: auto;
    padding: 0px;
	background: rgba(200,200,255, 0.6);
}

.brd {
    border: 3px solid black;
    border-radius: 10px;
	margin: 0;
}

.main-block {
    position: relative;
    overflow: auto;
    margin: 3%;
}
nav ul{
    position: relative;
    margin: 2px; /* Сбрасываем отступы */
    padding-left: 5px;
}
 
nav ul li{
    position: relative;
    list-style: none; /* Убираем маркеры списка */
    float: left; /* Выравниваем пункты по горизонтали */
}
 
nav ul li a:link, 
nav ul li a:visited{
    display: inline;
    padding: 4px 8px;
 
    font-family: "Tahoma", "Arial", "times new roman", sans-serif;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.35);
    font-size: 25px;
    color: white;
 
    text-decoration: none; /*Убираем подчеркивание*/
 
    background: #AAAADD; /*Фон кнопки меню*/
 
    transition: all 0.2s ease; /*Параметры анимации при наведении*/
}
 
 
nav ul li a:hover,
nav ul li a:focus{
    background: #AAAAFF;
    color: black;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
}

/* Футер*/
.footer {
    position: fixed;
    left: 0; bottom: 0;
    padding: 10px;
    background: #AAAAFF;
    color: #fff;
    width: 100%;
 }

/* Ссылка в футере */
#footer-link {
    color: white;
    text-decoration: none;
 }
#footer-link:hover{
    background: #8253FF;
    transition: all 0.2s ease;
}

.ts {
    font-size: 16px;
    color: #FFFFFF;
    text-shadow: 
        -0   -2px 0   #000000,
         0   -2px 0   #000000,
        -0    2px 0   #000000,
         0    2px 0   #000000,
        -2px -0   0   #000000,
         2px -0   0   #000000,
        -2px  0   0   #000000,
         2px  0   0   #000000,
        -1px -2px 0   #000000,
         1px -2px 0   #000000,
        -1px  2px 0   #000000,
         1px  2px 0   #000000,
        -2px -1px 0   #000000,
         2px -1px 0   #000000,
        -2px  1px 0   #000000,
         2px  1px 0   #000000,
        -2px -2px 0   #000000,
         2px -2px 0   #000000,
        -2px  2px 0   #000000,
         2px  2px 0   #000000,
        -2px -2px 0   #000000,
         2px -2px 0   #000000,
        -2px  2px 0   #000000,
         2px  2px 0   #000000;
}

p {
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 20pt; /* Размер шрифта в пунктах */
    text-indent: 50px; /* Отступ первой строки в пикселах */
    line-height: 1.5;
   }